[submodule "lib/Q"]
    path = lib/Q
	url = https://github.com/cycfi/q.git
[submodule "lib/gcem"]
    path = lib/gcem
	url = https://github.com/kthohr/gcem.git
[submodule "lib/infra"]
    path = lib/infra
	url = https://github.com/cycfi/infra.git